{% extends 'base.html.twig' %}

{% block title %}Quel est votre projet ?{% endblock %}


{% block body %}
<div class="container-primary">
    <img src="assets/images/manomano.png">
</div>
{% endblock %}
