{% extends 'base.html.twig' %}

{% block title %}Quel est votre projet ?{% endblock %}


{% block body %}
<div class="container">
    <div class="col-12 d-flex justify-content-center">
        <img class="max" src="assets/images/manomano.png" alt="acceuil">
    </div>
</div>
{% endblock %}
