{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}
{% include 'components/_navbar.html.twig' %}
    <div class="py-5" >
        <div class="container text-center">
            <h1 class="mb-5">Quel est votre projet ?</h1>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Décorer</h4>
                                    <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Rénover</h4>
                                    <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Construire</h4>
                                    <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Aménager</h4>
                                    <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="mt-5 mb-5 text-center">Pour quelle pièce ?</h1>
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Salon</h4>
                                        <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Salle de bain</h4>
                                        <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Cuisine</h4>
                                        <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Jardin</h4>
                                        <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Chambre</h4>
                                        <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Bureau</h4>
                                        <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="mt-5 mb-5">Quels matériaux souhaitez-vous utiliser ?</h1>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Bois</h4>
                                            <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Verre</h4>
                                            <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Métal</h4>
                                            <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Autre</h4>
                                            <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <h1 class="mt-5 mb-5 text-center">Avez-vous besoin d'outils ?</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Oui</h4>
                                            <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Non</h4>
                                            <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Je ne sais pas</h4>
                                            <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-5 mb-5">Quel est votre budget ?</h1>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">< 100€</h4>
                                                <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">100 - 500€</h4>
                                                <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">500 - 1000€</h4>
                                                <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">> 1000€</h4>
                                                <p class="card-text"></p> <a href="#" class="btn btn-primary">Sélectionner</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
