{% extends 'base.html.twig' %}

{% block title %}Quel est votre projet ?{% endblock %}


{% block body %}
    <div class="py-5" >
        <div class="container text-center mt-5 pt-5">
            <div class="d-flex fixed-top justify-content-center mt-5 pt-5 mx-auto">
                <div id="button1" class="div"></div>
                <div id="button2" class="div"></div>
                <div id="button3" class="div"></div>
                <div id="button4" class="div"></div>
            </div>
            <h2 class="mt-5 mb-5 display-3 fw-bold">Quel est votre projet ?</h2>
            <div class="row">
                <div class="col-md-3 block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card"> <img class="card-img-top" src="assets/images/decoration.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Décorer</h4>
                                    <a href="#question2" id="1" class="btn active">Sélectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card"> <img class="card-img-top" src="assets/images/renovate.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Rénover</h4>
                                    <a href="#question2" id="2" class="btn active">Sélectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card"> <img class="card-img-top" src="assets/images/construire.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Construire</h4>
                                    <a href="#question2" id="3" class="btn active">Sélectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card"> <img class="card-img-top" src="assets/images/amenage.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title">Aménager</h4>
                                    <a href="#question2" id="4" class="btn active">Sélectionner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5 pt-5 mx-auto">
                    <div id="button1" class="div"></div>
                    <div id="button2" class="div"></div>
                    <div id="button3" class="div"></div>
                    <div id="button4" class="div"></div>
                    <div id="button5" class="div"></div>
                </div>
                <div class="col-md-3">
                    <div class="separate-me"></div>
                </div>
                <div id="question2"></div>
                <div class="separate-me-more"></div>
                <h2 class="mt-3 mb-5 text-center display-3 fw-bold">Pour quelle pièce ?</h2>
                <div class="row">
                    <div class="col-md-2 block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="assets/images/salon.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Salon</h4>
                                        <a href="#question3" id="5" class="btn active">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="assets/images/bain.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Salle de bain</h4>
                                        <a href="#question3" id="6" class="btn active">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="assets/images/cuisine.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Cuisine</h4>
                                        <a href="#question3" id="7" class="btn active">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="assets/images/jardin.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Jardin</h4>
                                        <a href="#question3" id="8" class="btn active">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="assets/images/chambre.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Chambre</h4>
                                        <a href="#question3" id="9" class="btn active">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 block">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card"> <img class="card-img-top" src="assets/images/bureau.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">Bureau</h4>
                                       <a href="#question3" id="10" class="btn active">Sélectionner</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="separate-me"></div>
                    </div>
                    <div id="question3"></div>
                    <div class="separate-me-more"></div>
                    <h2 class=" mb-5 display-3 fw-bold">Quels matériaux souhaitez-vous utiliser ?</h2>
                    <div class="row">
                        <div class="col-md-3 block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="assets/images/bois.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Bois</h4>
                                            <a href="#question4" id="11" class="btn active">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div  class="col-md-3 block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="assets/images/verre.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Verre</h4>
                                            <a href="#question4" id="12" class="btn active">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="assets/images/metal.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Métal</h4>
                                            <a href="#question4" id="13" class="btn active">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="content"  class="col-md-3 block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="assets/images/autre.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Autre</h4>
                                            <a href="#question4" id="14" class="btn active">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="separate-me"></div>
                        </div>
                        <div id="question4"></div>
                        <div class="separate-me-more"></div>
                    <h2 class="mb-5 text-center display-3 fw-bold">Avez-vous besoin d'outils ?</h2>
                    <div class="row">
                        <div  class="col-md-4 block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="assets/images/oui.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Oui</h4>
                                            <a href="#question5" id="15" class="btn active">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="content"  class="col-md-4 block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="assets/images/mains.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Non</h4>
                                            <a href="#question5" id="16" class="btn active">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div  class="col-md-4 block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card"> <img class="card-img-top" src="assets/images/nesaispas.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Je ne sais pas</h4>
                                            <a href="#question5" id="17" class="btn active">Sélectionner</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="separate-me"></div>
                        </div>
                        <div id="question5"></div>
                        <div class="separate-me-more"></div>
                        <h2 class="mt-5 mb-5 display-3 fw-bold">Quel est votre budget ?</h2>
                        <div class="row">
                            <div id="content"  class="col-md-3 block">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card"> <img class="card-img-top" src="assets/images/un.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">< 100€</h4>
                                                <a href="#validate" id="18" class="btn active">Sélectionner</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 block">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card"> <img class="card-img-top" src="assets/images/2.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">100 - 500€</h4>
                                                <a href="#validate" id="19" class="btn active">Sélectionner</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="content"  class="col-md-3 block">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card"> <img class="card-img-top" src="assets/images/3.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">500 - 1000€</h4>
                                                <a href="#validate" id="20" class="btn active">Sélectionner</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 block">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card"> <img class="card-img-top" src="assets/images/4.jpg" alt="Card image cap">
                                            <div class="card-body">
                                                <h4 class="card-title">> 1000€</h4>
                                                <a href="#validate" id="21" class="btn active">Sélectionner</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="separate-me-more mb-5"></div>
                <a class="btn col-4 mx-auto shadow-none rounded-pill p-4 fs-5" id="validate" href="{{ path('show') }}">Je valide mon projet</a>
            </div>
        </div>
    </div>
{% endblock %}
