{% extends 'base.html.twig' %}

{% block title %}Mon projet {% endblock %}

{% block body %}

    <div class="container text-center">
            <div class="d-flex flex-column">
                <div class="d-flex flex-wrap">
                    {% for product in products %}
                    <div class="col-md-4 mt-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card m-4"> <img class="card-img-top" src="https://static.pingendo.com/cover-moon.svg" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ product.name }}</h4>
                                        <p class="card-text">{{ product.description}}</p>
                                        <p class="card-text">{{ product.price }}</p>
                                        <p class="card-text">{{ product.ranking }}</p>
                                        <a href="" class="btn btn-primary">Ajouter au panier</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </div>


{% endblock %}
