.navbar {
    background-color: white;
}

.logo-nav {
    width:100%;
}
a {
    text-decoration: none;
    color: darkblue;
}
a:hover {
    text-decoration: underline;
    color: darkblue;
}
body {
    background-color: #f5f6f7;
}

svg {
    text-decoration: none;
    color: darkblue;
}
svg:hover {
    text-decoration: underline;
    color: darkblue;
}

.separate-me {
    background-color: #f5f6f7;
    min-height: 500px;
    min-width: 1200px;
}

.separate-me-more {
    background-color: #f5f6f7;
    min-height: 250px;
    min-width: 1200px;
}

.separate-me-less{
    background-color: #f5f6f7;
    min-height: 50px;
    min-width: 1200px;
}

